@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

html {
  height: 100%;
}
body {
  height: 100%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: white;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

h3 {
  font-family: "Berkshire Swash", cursive;
  font-size: 3rem;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.fa-plus-circle {
  font-size: 2rem;
  color: #83a6a8;
  margin-left: 8rem;
}

.fa-ellipsis-h {
  float: right;
}

header {
  padding: 2rem;
  background-color: black;
  height: 8rem;
}

.sidebar {
  position: fixed;
  width: 25rem;
  left: 0;
  top: 8rem;
  bottom: 0;
  padding: 3rem;
  background: #cbdadb;
}

.welcome-section {
  padding-bottom: 2rem;
  border-bottom: 0.2rem dotted black;
}

/* welcome-section sub elements  */

.weekday_n {
  padding: 0 0 0 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.time_n {
  border: #212529 3px solid;
  border-radius: 5px;
  background-color: #83a6a8;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2.7rem;
  margin: 0 100px 0 105px;
  padding-left: 4px;
}

.number-month-year {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 1rem 0 0 4rem;
}

/* .number_n {
  padding-left: 8rem;
  font-size: 1.5rem;
} */
.todo-list {
  margin-top: 5rem;
}

.todo-item {
  background-color: white;
  padding: 1rem 2rem 1rem 1rem;
  margin-top: 1rem;
}

main {
  margin-left: 28rem;
  padding: 3rem;
}
