@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

html {
    height: 100%;
}
body {
    height: 100%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: white;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

h3 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 3rem;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.fa-plus-circle, .fa-times-circle {
    margin-top: 1rem;
    position: absolute;
    font-size: 2rem;
    color: #83a6a8;
    margin-left: 8rem;
    cursor: pointer;
}

.fa-ellipsis-h {
    float: right;
}

.fa-trash-alt, .fa-edit {
    float: right;
    margin-left: 1rem;
    color: #619c9f;
    cursor: pointer;
}

header {
    padding: 2rem;
    background-color: black;
    height: 8rem;
}

.sidebar {
    position: fixed;
    overflow-y: auto;
    width: 25rem;
    left: 0;
    top: 8rem;
    bottom: 0;
    padding: 3rem;
    background: #cbdadb;

}

.welcome-section {
    padding-bottom: 2rem;
    border-bottom: 0.2rem dotted black;
}

.todo {
    margin-top: 5rem;
}

.todo-item {
    background-color: white;
    padding: 1rem 2rem 1rem 1rem;
    margin-top: 1rem;
    width: 20rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 0.9rem;
}

.btn {
    background-color: #83a6a8;
    border: none;
    border-radius: 0;
    padding: 0.7rem 1rem 0.7rem 1rem;
    color: white;
    font-weight: 800;
}
.btn:hover {
    background-color: #619c9f;
    color: white;
}

main {
    margin-left: 28rem;
    padding: 3rem;
}

label {
    margin-top: 1rem;
}

#datepicker {
    width: 100%; 
    margin-bottom: 1rem;
}


#datepicker > span:hover {
    cursor: pointer;
    background-color: white;
}

.datepicker {
    padding: 0.7rem;
}

.todo-date-span {
    color: #888;
    padding-right: 0.5rem;
    font-weight: 300;
}